In [1]:
import numpy as np
import pandas as pd
import signac
import json
from typing import Tuple
import matplotlib.pyplot as plt

from martignac.workflows.solute_in_solvent_alchemical import project

pd.set_option("display.precision", 2)

24-08-21 18:05:40 - pymbar.timeseries - WARNING - Warning on use of the timeseries module: If the inherent timescales of the system are long compared to those being analyzed, this statistical inefficiency may be an underestimate.  The estimate presumes the use of many statistically independent samples.  Tests should be performed to assess whether this condition is satisfied.   Be cautious in the interpretation of the data.
24-08-21 18:05:40 - pymbar.mbar_solvers - WARNING -
********* JAX NOT FOUND *********
 PyMBAR can run faster with JAX
 But will work fine without it
Either install with pip or conda:
      pip install pybar[jax]
               OR
      conda install pymbar
*********************************
24-08-21 18:05:40 - pymbar.mbar_solvers - INFO - JAX was either not detected or disabled, using standard NumPy and SciPy
24-08-21 18:05:41 - MDAnalysis.coordinates.AMBER - WARNING - netCDF4 is not available. Writing AMBER ncdf files will be slow.

In [2]:
project

SoluteInSolventAlchemicalFlow('/Users/bereau/work/projects/martignac/workspaces/solute_in_solvent_alchemical')

In [3]:
df = project.to_dataframe()
df.head()

,sp.type,sp.solvent_name,sp.solute_name,sp.lambda_state,doc.SoluteInSolventAlchemicalFlow,doc.SoluteGenFlow,doc.SolventGenFlow,doc.SoluteInSolventGenFlow,doc.nomad_dataset_id
58de058b31c7140d71d2f707001d8a6d,solute_in_solvent_alchemical,CHEX,P6,8,"{'files_symlinked': True, 'fetched_nomad': Tru...","{'files_symlinked': True, 'fetched_nomad': Tru...","{'files_symlinked': True, 'fetched_nomad': Tru...","{'files_symlinked': True, 'fetched_nomad': Tru...",NaN
5cce056c213ac2ddf2755098fb9c29b0,solute_in_solvent_alchemical,CHEX,P6,5,"{'files_symlinked': True, 'fetched_nomad': Tru...","{'files_symlinked': True, 'fetched_nomad': Tru...","{'files_symlinked': True, 'fetched_nomad': Tru...","{'files_symlinked': True, 'fetched_nomad': Tru...",NaN
94fd4677e59f0e4ab1c4a8c01d00bfba,solute_in_solvent_alchemical,W,P6,4,"{'files_symlinked': True, 'fetched_nomad': Tru...","{'files_symlinked': True, 'fetched_nomad': Tru...","{'files_symlinked': True, 'fetched_nomad': Tru...","{'files_symlinked': True, 'fetched_nomad': Tru...",HJdEI1q4SV-c5Di43BTT_Q
8926c803cd797330ee7c8e545b713874,solute_in_solvent_alchemical,CLF,P6,0,"{'files_symlinked': True, 'fetched_nomad': Tru...","{'files_symlinked': True, 'fetched_nomad': Tru...","{'files_symlinked': True, 'fetched_nomad': Tru...","{'files_symlinked': True, 'fetched_nomad': Tru...",HJdEI1q4SV-c5Di43BTT_Q
b4e3df7fc6dd72505759959857a391fd,solute_in_solvent_alchemical,CLF,P6,4,"{'files_symlinked': True, 'fetched_nomad': Tru...","{'files_symlinked': True, 'fetched_nomad': Tru...","{'files_symlinked': True, 'fetched_nomad': Tru...","{'files_symlinked': True, 'fetched_nomad': Tru...",HJdEI1q4SV-c5Di43BTT_Q

In [7]:
df_f = pd.DataFrame(
    df.groupby(['sp.solvent_name', 'sp.solute_name']).first()['doc.SoluteInSolventAlchemicalFlow'].apply(lambda x: x['free_energy']['mean'] if 'free_energy' in x.keys() else None)
).reset_index()
df_f = df_f.pivot(index="sp.solute_name", columns="sp.solvent_name", values='doc.SoluteInSolventAlchemicalFlow')
df_f = df_f.apply(lambda x: x * 2.479) # kT to kJ/mol at 298K
df_f = df_f.iloc[:, :-1].sub(df_f["W"], axis=0).assign(W=df_f["W"])
df_f.rename(
    columns={
        "CHEX": "CHEX -> W", 
        "CLF": "CLF -> W", 
        "ETH": "ETH -> W", 
        "HD": "HD -> W", 
    }, 
    inplace=True
)
df_f = df_f[[
    "HD -> W", 
    "CLF -> W", 
    "ETH -> W", 
    "CHEX -> W", 
    "W",
]].reset_index()
df_f.columns.name = None
df_f = df_f.set_index("sp.solute_name")
df_f.index.name = "bead"
df_f.head()

      HD -> W  CLF -> W  ETH -> W  CHEX -> W      W
bead
P6     -27.98    -12.06    -11.05     -19.11  18.03

In [13]:
df_martini = pd.read_csv("martini_reg_ref.csv")
df_martini = df_martini.rename(
    columns={
        "Bead": "bead", 
        'Oil-water transfer Î”G (HDâ†’W)': "HD -> W",
        'Oil-water transfer Î”G (OCOâ†’W)': "OCO -> W",
        'Oil-water transfer Î”G (CLFâ†’W)': "CLF -> W",
        'Oil-water transfer Î”G (ETHâ†’W)': "ETH -> W",
        'Oil-water transfer Î”G (BENZâ†’W)': "BENZ -> W", 
        'Oil-water transfer Î”G (CHEXâ†’W)': "CHEX -> W",
        'Hydration Î”G': "W"
    }
).drop(['Vaporization Î”G', "BENZ -> W", "OCO -> W"], axis=1).set_index("bead")
df_martini.head()

      HD -> W  CLF -> W  ETH -> W  CHEX -> W    W
bead
C1       17.2      17.2      14.5       20.0 -8.6
C2       15.4      14.3      12.9       16.9 -5.7
C3       13.5      13.3      13.3       16.3 -4.8
C4       10.6      13.6      13.7       16.3 -5.1
C5        8.8      12.1      11.9       13.2 -3.6

In [14]:
bead_mapping = {
    'N3a': 'N3d/a',
    'N3d': 'N3d/a',
    'Q2+': 'Q2',
}

def map_beads(bead):
    return bead_mapping.get(bead, bead)

df_f.index = [map_beads(bead) for bead in df_f.index]
df_f.index.name = "bead"

identical_beads = pd.merge(df_f, df_martini, on="bead").index
identical_beads

Index(['P6'], dtype='object', name='bead')

In [25]:
df_comp = df_f.loc[identical_beads].copy().compare(df_martini.loc[identical_beads].copy(), result_names=('Martignac', 'Souza et al.'))
df_comp

       HD -> W               CLF -> W               ETH -> W               \
     Martignac Souza et al. Martignac Souza et al. Martignac Souza et al.
bead
P6      -27.98        -27.2    -12.06        -11.9    -11.05        -11.2

     CHEX -> W                      W
     Martignac Souza et al. Martignac Souza et al.
bead
P6      -19.11        -19.0     18.03         18.0

In [26]:
# Define the threshold for highlighting
thresholds = [1.0, 2.0, 3.0]
colors = ["yellow", "orange", "red"]

# Extract 'self' and 'other' values from the comparison DataFrame
df_self = df_comp.loc[:, (slice(None), 'Martignac')]
df_other = df_comp.loc[:, (slice(None), 'Souza et al.')]

# Function to apply highlighting to the 'self' values
def apply_highlighting(df_self, df_other):
    # Prepare a DataFrame to hold styles
    styles = pd.DataFrame('', index=df_self.index, columns=df_self.columns)

    def format_value(val):
        try:
            return '{:.2f}'.format(val)
        except (TypeError, ValueError):
            return val
    
    # Apply highlighting only to 'self' values
    for row in range(df_self.shape[0]):
        for col in range(df_self.shape[1]):
            val_self = df_self.iloc[row, col]
            val_other = df_other.iloc[row, col]

            for threshold, color in zip(thresholds, colors):
                if abs(val_self - val_other) > threshold:
                    styles.iloc[row, col] = f'background-color: {color}'

    
    return df_comp.style.format(format_value).apply(lambda x: styles, axis=None)

# Apply highlighting and display the styled DataFrame
styled_comp = apply_highlighting(df_self, df_other)
styled_comp